*.dhall linguist-detectable=true
*.ts linguist-detectable=true
*.sh linguist-detectable=true
*.js linguist-detectable=true
docusaurus/*.js linguist-detectable=false
docusaurus/*.css linguist-detectable=false
